.App {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.App-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 50vh;
}